/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Custom Site Styles */

/*
  Use the text-size-adjust property
  to prevent automatically inflating
  text on orientation changes
  (portrait to landscape on a phone,
  for example):
*/

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ie-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* HTML5 Elements as Blocks; Cribbed from HTML5 Boilerplate */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* ========== Base Styles ========== */

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.125em; /* 18px */
  line-height: 1.5556em; /* 28px @ 18px */
  color: #a63140;
  background: #e1fdff;
}
#principles,
#booklist,
#technology {
  color: #ffd58e;
  background: #a63140;
  font-family: Georgia, "Times New Roman", Times, Roman, serif;
}
h1,h2,h3,h4 {
  font-weight: bold;
  text-transform: uppercase;
}
h1 {
  text-align: center;
  font-size: 2.2222em; /* 40 / 18 */
  line-height: 1.4em; /* 56 / 40 */
}

h2 {
  font-size: 1.5em; /* 27 / 18 */
  line-height: 1.037em; /* 28 / 27 */
}

h3 {
  text-transform: none;
}
a {
  color: #296c94;
}
cite,em,i {
  font-style: italic;
}
strong,b {
  font-weight: bold;
}

/* ========== Layout =============== */
section,
#details {
  padding: 1.5556em 4.6667%; /* 28px / 600px */
}


/* ========== Modules ============== */
h1 small {
  background: #ffd58e;
  color: #a63140;
  text-align: center;
  display: block;
  line-height: 1;
  font-size: 0.4444em; /* 18 / 40.5 */
  padding-top: 0.3333em; /* 6 / 18 */
  padding-bottom: 0.2222em; /* 4 / 18 */
  margin-bottom: 1.5555em; /* 28 / 18 */
}
h1 {
  display: block;
  background-color: #FF0;
}
h1 i {
  font-style: normal;
  text-transform: none;
}

@media screen and (min-width: 320px) {
  h1 {
    text-align: left;
    font-size: 5.0625em;
  }
  h1 small {
    font-size: 0.1975em; /* 18 / 91.125 */
    padding-top: 0.3333em; /* 6 / 18 */
    padding-bottom: 0.2222em; /* 4 / 18 */
    margin-bottom: 0;
  }
  h1 b {
    display: block;
    line-height: 1;
    font-weight: inherit;
    padding: 28px 20px 0px 20px;
  }
  h1 b + b { padding-top: 0px; }
  h1 i {
    font-size: 0.4444em; /* 40.5 / 91.125 */
  }
  #details {
  }
}

#details {
  background: #F0F;
}
#details li {
  list-style-type: none;
  padding: 0;
  text-indent: -10px;
  margin-left: 10px;
}
.calendar ul {
  color: #296c94;
}
#booklist ul {
  color: #e1fdff;
}
#booklist ul p {
  color: #ffd58e;
}
h2 {
  padding-bottom: 28px;
}
h3 {
  padding-bottom: 7px;
}
p + ul {
  padding-top: 14px;
}
ul,ol {
  padding-bottom: 7px;
}
li {
  padding-bottom: 7px;
}
li p {
  padding-top: 7px;
  padding-bottom: 7px;
}
ul li {
  margin-left: 20px;
  list-style-type: square;
}

#footer {
  padding: 42px 20px 14px 20px;
  font-size: 12px;
  line-height: 21px;
}
/* ========== State ================ */



html.wf-active {
  font-family: "ff-dax-web-pro";
}
.wf-active #principles,
.wf-active #booklist,
.wf-active #technology {
  font-family: "ff-karbid-slab-web-pro";
}

.wf-active h1,
.wf-active h2,
.wf-active h3 {
  font-family: "ff-dax-web-pro";

}
